.cart-btn {
    background-color: var(--btnBgColor);
    color: var(--whiteColor);
    border: none;
    border-radius: var(--radius);
    padding: 10px 20px;
}

.cart-btn:hover {
    color: white;
}

.cart-btn:active {
    opacity: 0.8;
}

.card {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.card-header {
    background-color: var(--btnBgColor);
    color: var(--whiteColor);
}