.navbar {
    background-color: var(--whiteColor) !important;
}

.icons {
    display: flex;
    gap: 10px;
}

.searchContainer {
    width: 100% !important;
}

.searchContainer>input {
    font-family: var(--font);
    border-radius: 10px;
    width: 100% !important;
}

.searchContainer>input:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25) !important;
}

.fa-search {
    right: 125px;
    font-size: var(--IconSize);
    top: 50%;
    transform: translateY(-50%);
    color: var(--blackColor);
}

.fa-cart-shopping,
.fa-house {
    font-size: var(--IconSize);
}

/* User Css */
.card {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userimage>img {
    display: flex;
    justify-content: center;
    border-radius: 75px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Cart Css */

.mainCart {
    padding-top: 30px;
}

.maincard>h1 {
    color: var(--redColor);
}

.logOut {
    display: flex;
    gap: 10px;
}

.logOut>button {
    background-color: var(--btnBgColor);
    color: var(--whiteColor);
    border: none;
    border-radius: var(--radius);
    padding: 5px 15px;
}

#loader {
    margin-left: 20px;
}

#userEmail,
#userVerified {
    margin-bottom: 0px !important;
}