.fa-search {
    right: 20px !important;
    font-size: var(--IconSize);
    top: 50%;
    transform: translateY(-50%);
    color: var(--blackColor);
}

.formDescription>p>a{
    text-decoration: underline !important;
}

/* SignUp Css */

.paddingContaiiner {
    padding-top: 30px;
    padding-bottom: 30px;
}

.signupform {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 30px;
}

.inputEmail>input,
.inputPassword>input {
    width: 100%;
    background-color: var(--inputBgColor);
    color: var(--TextColor);
    border: none;
    outline: none;
    padding-top: var(--paddingInput);
    padding-bottom: var(--paddingInput);
    border-bottom: 1px solid black;
    font-weight: bold;
}

.inputEmail>input:focus,
.inputPassword>input:focus {
    border-bottom: var(--borderBottomStyle);
}

.signUpBtnDiv>button,
.googleBtnDiv>button {
    background-color: var(--btnBgColor);
    color: var(--whiteColor);
    border: none;
    border-radius: var(--radius);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.googleBtnDiv>button {
    background-color: var(--whiteColor) !important;
    border: 1px solid black !important;
    color: var(--blackColor) !important;
}

.signupImage>img {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.googleBtnDiv>button>img {
    width: 20px;
    margin-right: 15px;
}

